.body_background 
{
    background-position:center;
    background-size:contain;
	background:url(Grass.jpg);
}

#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
	background-position-x: center;
	background-position-y:center ;
}


#hd3
{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
     background-position-x: center;
	 background-position-y:top ;	
}

